table {
  border: 1px solid gray;
  border-collapse: collapse;
  border-spacing: 0;

  caption {
    font-weight: bold;
  }

  tr {

  }

  th {
    background: lightgray;
  }

  th, td {
    padding: .3em;
    border: 1px solid gray;
  }

  td {
    padding: 0;
  }
}

// Overrides
:not(pre)>code[class*=language-], pre[class*=language-] {
  background: #fff; // #f5f2f0;
}
